@use 'base';
@use 'menu';

.site-container {
    min-height: 100vh;
}

.search-wrap{
    @include base.flexbox-parent(column);
    background: base.$logo-green
}

.search {
    @include base.flexbox-parent(row);
    justify-content: center;
    align-self: center;
    padding: 2% 0 2% 0;
    width: 350px;
}

.searchTerm {
    height: 35px;
    border: 1px solid base.$txt-grey;
    border-right: none;
    padding: 5px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
    flex-grow: 7;
    &:focus {
        color: base.$txt-grey;
    }
}

.searchButton {
    height: 35px;
    border: 1px solid base.$txt-grey;
    background: base.$txt-grey;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
    flex-grow: 2;
}

.results-wrap {
    padding-top: 6%;
    @include base.flexbox-parent(column)
}

.all-items {
    padding-top: 4%;
    @include base.flexbox-parent(row);
    max-width: 1000px;
    flex-wrap: wrap;
    justify-content: center;
}

.item-wrap {
    @include base.flexbox-parent(column);
    justify-content: left;
    align-content: stretch;
    align-items: stretch;
    line-height: 1.6;
    height: 250px;
    width: 260px; 
    margin: 3%;
    text-decoration: none;
    color: base.$txt-grey;
    cursor: pointer;
}

.item-description {
    @include base.flexbox-parent(column);
    flex-wrap: wrap;
    &:hover {
        color: rgb(19, 19, 19);
    }
}

#item {
    padding: 1% 0 2% 0;
    p {
    font-size: smaller;
    }
}