<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <form action="{{ url_for('login') }}" method="post" class="form-div">
        <div style="color: brown;">
        {{ msg }}
        </div>
           <div class="top">
        <h1 class="message">WELCOME TO CYBER WORLD</h1>
        <h2 class="message"> Sign In HERE</h2>
            </div>
        <input  name="username" type="text" placeholder="Enter Your Username" class="textbox"/> <br>
        <input name="password" type="password" placeholder="Enter Your Password" class="textbox"/><br>
        <input type="submit" class="btn" value="Sign In"></br></br>
    </form>

    <div class="message">
        <h1>Dont't have an account?  <a class="bottom" href="{{url_for('register')}}"> Sign Up here</a> </h1>
        </div>


</body>
</html>
