<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sherfood</title>
        <script src="/jquery-3.2.1.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/style/css/login.css"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
            rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='script/login.js') }}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

    </head>
    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

        <div class="site-container">
        <div class="menu-wrap" id="navbar">
            <nav class="menu">
                <ul class="menu-list r-list">
                    <li class="menu-group"><a href="/" class="menu-link r-link text-underlined">Home</a></li>
                    <li class="menu-group"><a href="/search" class="menu-link r-link text-underlined">Get some food</a></li>
                    <li class="menu-group"><a href="/sher" class="menu-link r-link text-underlined">Sher your food</a></li>
                    <li class="menu-group"><a href="/login" class="menu-link r-link text-underlined">Log in</a></li>
                </ul>
            </nav>
        </div>
        {% for message in get_flashed_messages() %}
            <div class="alert {{alert}} alert-dismissible fade show text-center" role="alert">
                {{message}}
                <button type="button" class="close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        <div class="container" id="container">
            <div class="form-container sign-up-container">
                <form action="/login" method="POST" class="registration-form" name="form1">
                    <h1>Create Account</h1>
                    <input type="text" placeholder="Name" name="username"/>
                    <input type="email" placeholder="Email" name="email"/>
                    <input type="password" placeholder="Password" name="user_password"/>
                    <button type="submit" class="submit-button" name="signup" value="1">Sign Up</button>
                </form>
            </div>
            <div class="form-container sign-in-container">
                <form action="/login" method="POST" class="login-form" name="form2">
                    <h1>Sign in</h1>
                    <input type="username" placeholder="Username" name="username"/>
                    <input type="password" placeholder="Password" name="user_password"/>
                    <a href="#">Forgot your password?</a>
                    <button type="submit" class="submit-button" name="signin" value="1">Sign In</button>
                </form>
            </div>
            <div class="overlay-container">
                <div class="overlay">
                    <div class="overlay-panel overlay-left">
                        <h1>Welcome Back!</h1>
                        <p>To keep connected with us please login with your personal info</p>
                        <button class="submit-button ghost" id="signIn">Sign In</button>
                    </div>
                    <div class="overlay-panel overlay-right">
                        <h1>Hello, Friend!</h1>
                        <p>Enter your personal details and start journey with us</p>
                        <button class="submit-button ghost" id="signUp">Sign Up</button>
                    </div>
                </div>
            </div>
        </div>
            <footer>
                <img src="../static/images/footer.png" class="footer-logo" alt="Website logo">
                <p1 class="copyright">Copyright(c) 2022</p1>
            </footer>
        </div>
    </body>
</html>

