<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
        <title>Sherfood</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/css/main.css') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
            rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script type="text/javascript" src="{{ url_for('static', filename='script/main.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('static', filename='script/locationapi.js') }}"></script>
    </head>
    <body>
        <div class="site-container">
            <div class="menu-wrap" id="navbar">
                <nav class="menu" id="menu">
                    <ul class="menu-list r-list">
                        <li class="menu-group"><a href="/" class="menu-link r-link text-underlined">Home</a></li>
                        <li class="menu-group"><a href="/search" class="menu-link r-link text-underlined">Get some food</a></li>
                        <li class="menu-group"><a href="/sher" class="menu-link r-link text-underlined">Sher your food</a></li>
                        <!--    Change to 'User account' if user is already logged in    -->
                        <li class="menu-group"><a href="/login" class="menu-link r-link text-underlined">Log in</a></li>  
                    </ul>
                </nav>
            </div>
            <div class="header-wrap">
                <div class="logo-wrap">
                <img src="../static/images/logo.png" class="logo" alt="Website logo">
                </div>
                <form class="search">
                    <div class="search-input">
                        <input type="text" class="searchTerm" id="address" placeholder="Enter your city name...">
                        <button type="submit" class="searchButton">Search</button>
                    </div>
                    <label class = "checkbox-wrap">
                            <input type="checkbox" name="checkfield" id="checkfield" onchange="xhr.getLocation(this)"/>
                            <p>&nbsp &nbsp get my location</p>
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </label>  
                </form>
                <p1 class="motto">Veni, vini, dividi<br> I came, I saw, I shared</p1>
            </div>
            <div class="values-wrap">
                <h1 class="value-title" id="title">About us</h1>
                <div class="values-details">
                    <div class="value">
                        <img src="../static/images/value1.png" class="photo" alt="Photo presenting a value">
                        <h2 class="value-h2">One of our values</h2><br>
                        <div class="value-description">
                            <p1>&emsp; Short description of why it's important to use our app and how it's 
                                gonna change the world!<br><br>
                                &emsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas metus metus,
                                In bibendum lacus rutrum vitae. Nam posuere est ut odio efficitur, id orci consectetur. 
                                Maecenas id lectus sed arcu hendrerit tincidunt.</p1>
                        </div>
                    </div>
                    <div class="value">
                        <img src="../static/images/value2.png" class="photo" alt="Photo presenting a value">
                        <h2 class="value-h2">And the other one</h2><br>
                        <div class="value-description">
                            <p1>&emsp; Short description of why it's important to use our app and how it's 
                                gonna change the world!<br><br>
                                &emsp; Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec egestas metus metus,
                                In bibendum lacus rutrum vitae. Nam posuere est ut odio efficitur, id orci consectetur. 
                                Maecenas id lectus sed arcu hendrerit tincidunt.</p1>
                        </div>
                    </div>
                </div>
            </div>
            <div class="food-img-wrap">
                <img src="/static/images/food.png" class="food-img">
            </div>
            <div class="instruction-wrap">
                <div class="instruction-title" id="title">
                    <h1>How to use the app</h1>
                </div>
                <div class="phone-instruction">
                    <div class="phone-instruction-left">
                        <img src="/static/images/two.png" class="instruction-two" id="instruction-img">
                    </div>
                    <div class="phone-instruction-right">
                        <img src="/static/images/one.png" class="instruction-one" id="instruction-img">
                        <img src="/static/images/three.png" class="instruction-three" id="instruction-img">
                    </div>
                </div>
            </div>
            <div class="register-wrap">
                <div class="register-title">
                    <h1 class="register-h1">Ready to sher the experience?</h1>
                </div>
                <p1 class="register-txt">Something something something something something something.</p1>
                <div class="search">
                    <input type="text" class="searchTerm" placeholder="Enter your email...">
                    <button type="submit" class="searchButton">Register</button>
                </div>
            </div>
            <footer>
                <img src="../static/images/footer.png" class="footer-logo" alt="Website logo">
                <p1 class="copyright">Copyright(c) 2022</p1>
        </footer>
        </div>
    </body>
</html>
