<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sherfood</title>
        <script src="/jquery-3.2.1.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" 
            integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='style/css/search.css') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" 
        rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <script type="text/javascript" src="{{ url_for('static', filename='script/locationapi.js') }}"></script>
    </head>
    <body>
        <div class="site-container">
            <div class="menu-wrap" id="navbar">
                <nav class="menu">
                    <ul class="menu-list r-list">
                        <li class="menu-group"><a href="/" class="menu-link r-link text-underlined">Home</a></li>
                        <li class="menu-group"><a href="/search" class="menu-link r-link text-underlined">Get some food</a></li>
                        <li class="menu-group"><a href="/sher" class="menu-link r-link text-underlined">Sher your food</a></li>
                        {% if login %}
                        <li class="menu-group"><a href="/logout" class="menu-link r-link text-underlined">Log out</a></li>
                        {% else %}
                        <li class="menu-group"><a href="/login" class="menu-link r-link text-underlined">Log in</a></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
            {% for message in get_flashed_messages() %}
            <div class="alert {{alert}} alert-dismissible fade show text-center" role="alert">
                {{message}}
                <button type="button" class="close" onclick="this.parentElement.style.display='none';">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {% endfor %}
            <div class="empty"></div>
            <div class="search-wrap">
                <div class="logo-wrap">
                    <img src="../static/images/logo.png" class="logo" alt="Website logo">
                </div>
                <form action="/results" method="POST" class="search" name="form">
                    <input type="text" class="searchTerm" name="address" id="address" placeholder="Enter your address...">
                    <button type="submit" class="searchButton" name="search-button">Search</button>
                </form>
                <label class = "checkbox-wrap">
                    <input type="checkbox" name="checkfield" id="checkfield" onchange="xhr.getLocation(this)"/>
                    <p>&nbsp &nbsp get my location</p>
                <i class="fa fa-map-marker" aria-hidden="true"></i>
            </label>  
            </div>
            <div class="empty"></div>
            <footer>
                <img src="../static/images/footer.png" class="footer-logo" alt="Website logo">
                <p1 class="copyright">Copyright(c) 2022</p1>
            </footer>
        </div>
    </body>
</html>

