<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sherfood</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style/css/sher.css') }}"/>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <script type="text/javascript" src="{{ url_for('static', filename='script/sher.js') }}"></script>
    </head>
    <body>
        <div class="site-container">
            <div class="menu-wrap" id="navbar">
                <nav class="menu">
                    <ul class="menu-list r-list">
                        <li class="menu-group"><a href="/" class="menu-link r-link text-underlined">Home</a></li>
                        <li class="menu-group"><a href="/search" class="menu-link r-link text-underlined">Get some food</a></li>
                        <li class="menu-group"><a href="/sher" class="menu-link r-link text-underlined">Sher your food</a></li>
                        <!--    Change to 'User account' if user is already logged in    -->
                        <li class="menu-group"><a href="/login" class="menu-link r-link text-underlined">Log in</a></li>
                    </ul>
                </nav>
            </div>
            <form class="form">
                <div class="form-wrap">
                    <ul class="flex-outer">
                        <li>
                            <label for="product-name">Product name</label>
                            <input type="text" id="product-name" maxlength="30" 
                                placeholder="Enter the product name here">
                        </li>
                        <li>
                            <label for="exp-date">Expiration date</label>
                            <input id="datefield" type='date' min='2022-10-25' max='2025-12-31'>
                        </li>
                        <li>
                            <label for="address">Address</label>
                            <input type="text" id="address" maxlength="60" 
                                placeholder="Enter pick up address (more or less exact)">
                        </li>
                        <li>
                            <label for="pick-up">Pick up details</label>
                            <textarea rows="2" id="pick-up" maxlength="150" 
                                placeholder="Enter some pick up details"></textarea>
                        </li>
                        <li>
                            <label for="message">Description</label>
                            <textarea rows="4" id="description" maxlength="300" 
                                placeholder="Enter product description"></textarea>
                        </li>
                        <li>
                            <p>Tags</p>
                            <ul class="flex-inner">
                                <li>
                                    <input type="checkbox" id="kosher">
                                    <label for="kosher">kosher</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="lactose-free">
                                    <label for="lactose-free">lactose-free</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="gluten-free">
                                    <label for="gluten-free">glute-free</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="wegetarian">
                                    <label for="wegetarian">wegetarian</label>
                                </li>
                                <li>
                                    <input type="checkbox" id="wegan">
                                    <label for="wegan">wegan</label>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="button">
                    <button type="submit">Submit</button>
                </div>
            </form>
            <footer>
                <img src="../static/images/footer.png" class="footer-logo" alt="Website logo">
                <p1 class="copyright">Copyright(c) 2022 by Group3</p1>
            </footer>
        </div>
    </body>
</html>

